@model IEnumerable<Gruppe2.Models.PollenRegistrering>

@{
    ViewData["Title"] = "Pollenregistreringer";
}

<h1>Pollenregistreringer</h1>
<div style="text-align: right; margin-bottom: 20px;">
    <a asp-action="Create" class="btn btn-primary">Opprett ny registrering</a> | 
    <a asp-action="Edit" asp-route-id="1" class="btn btn-primary">Rediger</a> |
    <a asp-action="Delete" asp-route-id="1" class="btn btn-primary">Slett</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Type of Pollen</th>
            <th>Level</th>
            <th>Date</th>
        </tr>
    </thead>
</table>

